body {
    background-color: #E5E5E5 !important;
}

.weekDay {
    background-color: #fff;
    border-radius: 20px;
    padding: 2rem;
    height: 100%;
}

.weekDayClassNumber {
    background-color: #7AAFFC;
    margin-bottom: 10px;
    border-radius: 10px;
    color:white;
}

.weekDayClassNumber p  {
   margin-bottom: 0;
}

.addClassButton {
    background-color: transparent;
    border: 2px dashed green;
    border-radius: 10px;
    width: 100%;
    color:green;
    padding-bottom: 5px;
    font-size: 24px;
}


.weekDayItem {
    cursor: pointer;
}

.weekDayItem:hover {
    cursor: pointer;
}


.weekDayItem .gear {
    opacity: 0;
    transition: .3s all;
}

.weekDayItem .text-center:hover .gear{

    opacity: 1;
}

